# 忽略所有文件和文件夹
*

# 不忽略所有文件夹（这一步，只是不忽略文件夹，里面的内容仍被忽略，相当于只有个外壳）
!*/

# 不忽略含以下后缀的文件（而这一步是把上面文件夹中，指定类型的文件设为不忽略）
!*.cpp
!*.py
!*.java
!*.txt
!*.md
!*.png
!*.pdf
!*.zip
!*.jpeg
!*.jpg
!*.html
!*.docx
!*.tex
!*.c
!*.h
Engineer/hotel-management
